@model List<About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                @foreach (var item in Model)
                {
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="@item.ImageUrl" style="object-fit: cover;">
                    </div>
                }
            </div>
            <div class="col-lg-7">
                @foreach (var item in Model)
                {
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Hakkımızda</h5>
                        <h1 class="display-4">@item.Title</h1>
                    </div>
                    <p>
                        @item.Description
                    </p>
                }

                @Html.Action("AboutItemSection")

            </div>
        </div>
    </div>
</div>
